* {
    color:black;
    margin:0;
}
body {
    background: url(/images/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 545px;
}
#nav-logo {
    font-weight: 900;
    font-size: 40px;
}
#nav-links {
    margin-left: 60%;
}
#nav-links > .nav-item {
    margin-right: 50px;
}
.heading {
    margin-left: 100px;
    color: white;
}
.main-heading {
    font-weight: 900;
    font-size: 80px;
    color:white;
}
.heading > p {
    color: white;
    font-weight: 100;
}
.card {
    margin:20px;
    box-shadow: 2px 2px 20px black;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 280px;
    margin:40px;
}
img {
    border-radius: 10px;
    border-radius: border-box;
}
.empty {
    height: 100px;
}
